body {
    background-color: #f8f8f8;
    color: #242321;
    font-family: "Hind", sans-serif;
    font-style: normal;
}

footer {
    display: flex;
    justify-content: center;
}

.header-nav {
    display: flex;
    flex-direction: flex-start;
    align-items: center;
}

.interest-link {
    color: #424242;
    text-decoration: none;
    font-size: 1.3rem;
}

.interest-link-container {
    margin: 0px 30px;
}

.section-break {
    text-align: center;
}

.song-title {
    font-style: italic;
}

.toolbar-banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo {
    height: 1.7em;
}