body {
    background-color: #fefefe;
    color: #242321;
    font-family: "Roboto";
    font-style: normal;
}

footer {
    display: flex;
    justify-content: center;
}

.copyright-container {
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-link {
    text-decoration: none;
    font-size: 1rem;
    color: #424242
}

.footer-link-container {
    width: 900px;
    display: flex;
    justify-content: space-around;
}

.header-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.header-nav {
    display: flex;
    flex-direction: flex-start;
    align-items: center;
}

.header-nav-item {
    margin: 0px 30px;
}

.header-nav-item-link {
    color: #424242;
    text-decoration: none;
    font-size: 1.3rem;
}

.interest-link {
    color: #424242;
    text-decoration: none;
    font-size: 1.3rem;
}

.interest-link-container {
    margin: 0px 30px;
}

.section-break {
    text-align: center;
}

.site-raisin-debt {
    font-size: 1.4rem;
    font-weight: 350;
    width: 1300px;
    text-align: justify;
    margin: 0px 20px;
}

.site-raisin-debt-container {
    display: flex;
    justify-content: center;
}

.song-title {
    font-style: italic;
}

.toolbar-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
}

.welcome-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 1.7em;
}